-f /usr/share/pip-wheels
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
cairocffi==0.8.0
CairoSVG==2.1.0
celery==3.1.18
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
cssselect==1.0.1
cssselect2==0.2.0
defusedxml==0.5.0
Django==1.8.6
django-haystack==2.4.0
django-parler==1.5.1
django-paypal==0.4.1
django-rosetta==0.7.6
django-taggit==0.17.1
html5lib==0.999999999
idna==2.6
kombu==3.0.37
lxml==4.0.0
Markdown==2.6.2
microsofttranslator==0.5
oauthlib==2.0.4
Pillow==8.1.1
polib==1.0.8
pycparser==2.18
PyJWT==1.5.3
Pyphen==0.9.4
python-social-auth==0.2.12
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sorl-thumbnail==12.3
tinycss==0.4
tinycss2==0.6.0
urllib3==1.22
WeasyPrint==0.34
webencodings==0.5.1
Whoosh==2.7.4
